<!DOCTYPE html>
<html>
  <head>
    <title>Irochilog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="    stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <div class="container">
	<%= yield %>
	<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
